extends ../layout

block content
	div(style='display:flex; align-items:center; justify-content:center; height:100%; flex-direction:column; direction:rtl;')
		h1 Login Page
		form(style='font-size:30px; width:90%;  max-width:800px; text-align:center; margin:0px auto; margin-top:10px;' method='POST' action='/login')
			div
				input(type='text', name='username', placeholder='الاسم' value='1000')
			div(style='margin-top:10px;')
				input(type='password', name='password', placeholder='كلمة المرور' value='easy')
			br
			button.submit(type='submit') أدخل
