extends ../layout_admin

block content
	div(style='text-align:center; direction:rtl; max-width:800px; margin:0px auto; font-size:20px;')
		div(style=' margin-top:20px; position: relative; padding:5px;')
			for i in items
				div(style='display:flex; align-items:center;')
					img(src=i.imgLink.replace('http','https') , style='flex:20%; max-height:100px;   object-fit: contain; ')
					div(style='flex:55%') #{i.title}
					input(style='flex:30%' value=i.price type='number' onclick='this.focus(); this.setSelectionRange(0, 9999);' id=i._id originalvalue=i.price)
			div(style='clear:both;')
			form(method='POST' action='/admin/changes/fruits')
				input#changes(type='hidden' value=null name='changes')
				button.submit(type='submit') تأكيد التغيير
		br
	script
		include main.js