extends ../layout_admin

block content
	div(style='text-align:center; direction:rtl; max-width:800px; margin:0px auto; font-size:20px;')
		if orders.length == 0 
			h1 لا توجد طلبات حتى الآن
		else
			div(style=' margin-top:20px; position: relative; padding:5px 0px;')
				for i in orders
					div.oitem(style='border:2px solid; margin-bottom:10px;')
						div(style='display:flex;')
							div(style='flex:20%;') 
								span(style='color:grey;') رقم الطلب: 
								| #{i.idx }
							div(style='flex:50%;') 
								span(style='color:grey;') وقت الطلب: 
								| #{moment(i.timestamp).format('dddd, Do MMMM YYYY, h:mm:ss a')}
							div(style='flex:30%;') 
								span(style='color:grey;') فترة التسليم: 
								| #{i.dperiod == 'night'? 'المساء' : 'الصباح'}
						if (i.order)
							- console.log(i.order)
							- var ordered = JSON.parse(i.order).order
							- var total = JSON.parse(i.order).total
							div(style='display:flex; align-items:center; background:lightgrey; ')
								div(style='flex:50%;') النوع
								div(style='flex:50%;') الكمية
							for n in ordered
								div(style='display:flex; align-items:center;')
									div(style='flex:50%;') #{n.title}
									div(style='flex:50%;') #{n.count}
							div(style='display:flex; align-items:center; background:lightgrey; ')
								div(style='flex:50%;') الإجمالي
								div(style='flex:50%;') #{total} ريال	
							div(style='display:flex; align-items:center;')
								div(style='flex:50%;')
									- var mobile = '968'+i.maker;
									a.buttonOrder(href='https://api.whatsapp.com/send?phone='+mobile target='_blank') واتساب
								div(style='flex:50%;')
									a.buttonOrder(href='tel:'+mobile style='background:#AF9595;') اتصال
							div(style='display:flex; align-items:center; ')
								div(style='flex:50%;')
									a.buttonOrder(onclick=`buttonOrders('complete','${i.id}', this)` style='background:#4C50AF;') تم التسليم
								div(style='flex:50%;')
									a.buttonOrder(onclick=`buttonOrders('delete','${i.id}', this)` style='background:#AF4C50;') احذف الطلب