form(style='width:90%; font-size:35px; margin:0px auto;' method='POST' action='/add')
			input(type='text', name='link' style='direction:ltr;' placeholder='Link')
			br
			input(type='text', name='title', placeholder='العنوان')
			br
			input(type='text', name='description', placeholder='الوصف')
			br
			input(type='text', name='category', placeholder='النوع', value='fruit')
			br
			input(type='submit' value='أدخل')
	