extends layout

block content
	div(style='text-align:center; direction:rtl; max-width:800px; margin:0px auto; font-size:20px;')
		div.pick test
		div(style=' margin-top:20px; position: relative; padding:5px; margin-top:50px;')
			for i in items
				div.item(style='float:right; width:32%; position: relative;' id=i._id)
					img(src=i.imgLink.replace('http','https'), width='100%')
					div.title() #{i.title}
					div.price() #{i.price} ريال
					br
					div.add(id=i._id, price=i.price, title=i.title) أضف +
					br
			div(style='clear:both;')

		br
		div.order عربة الشراء
			span.total
		br
		div.summary
		br

		form#userorder(style='font-size:30px; width:90%; margin:0px auto; margin-top:10px;' method='POST' action='/order')
			div(style='display:flex; flex-direction: row-reverse;')
				div(style='flex:30%; direction: ltr;') 
					img(src='https://www.crwflags.com/fotw/images/o/om.gif' width='60px')
					| +968
				input#mobnum(type='tel', name='mobile' style='direction:ltr; flex:70%;' value=mobile placeholder='رقم الجوال' required)
			br
			div(style='display:flex;')
				div(style='flex:30%; color:lightblue;') وقت التسليم
				div(style='flex:30%;')
					input(type='radio', name='dperiod', value='night' required)
					|  المساء
				div(style='flex:30%;')
					input(type='radio', name='dperiod', value='morning')
					|  الصباح
			br
			//div.location حدد موقعك  
				img(src='https://icons.iconarchive.com/icons/iconsmind/outline/512/Target-icon.png' width='50px' height='50px' style='margin:0px 10px;')
			#geolocation
			//div.location صورة لواجهة مكان التوصيل  
				img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Upload_alt_font_awesome.svg/512px-Upload_alt_font_awesome.svg.png' width='50px' height='50px' style='margin:0px 10px;')
				input#homefront(type='file' style='opacity:0; position: absolute; height:100%; width:100%;' accept='.jpg, .jpeg, .png')
			input#orderinput(type='hidden' name='order')
			button.submit(type='submit' value='أدخل') اطلب
		br
		.attachments
	script
		include viewjs/index.js
