doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/notyf.min.css')
    script(src='/javascripts/notyf.min.js')

    block header
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if notif
      #notif(style='display:none;') #{notif}
    block guser
    block gadmin
    block content

    script
      include global.js