extends layout

block header
	link(rel='stylesheet', href='/stylesheets/jquery.mmenu.all.css')
	script(src='/javascripts/jquery.mmenu.all.js')

block gadmin
	div.header
		a(href='#menu')
			img(src='/images/round.png' width='50px')
	//if user
		div(style='text-align:center; direction:rtl; max-width:800px; margin:0px auto; font-size:20px;')
			div(style='background: red; color: white;') الإدارة

	nav#menu
		ul
			li
				a(href='/admin/orders') الطلبات
			//li
				a(href='/about') About us
				ul
					li
						a(href='/about/history') History
					li
						a(href='/about/team') The team
					li
						a(href='/about/address') Our address
			li
				a(href='/admin/change/fruits') الفواكه    
	.topmargin(style='margin-top:70px;')
	script 
		include global_admin.js