
body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

input {
	font-size: 35px;
}

.item {
  /*border: 2px solid red;*/
  font-size: 22px;
}

.add {
  border: 1px solid green;
  background: green;
  width: 80%;
  color: white;
  line-height: 28px;
  margin: 0px auto;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  padding: 5px 10px;
}

.title {
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}

.price {
  color: green;
}

.order {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  text-align: center;
  font-size: 32px;
  background: blue;
  color: white;
  width: 100%;
  max-width:800px;
}

.pick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 32px;
  background: rgba(0,0,0,0.2);
  color: white;
  width: 100%;
  max-width:800px;
  z-index: 1;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-right: none;
  border-left: none;
  text-align: right;
  padding: 10px;
}

.submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin:10px 0px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.buttonOrder {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin:5px 0px;
    width: 80%;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;  
}

.location {
  margin:10px 0px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.header {
  position:fixed; 
  bottom:50px; 
  max-width:800px;
  width: 100px; 
  margin: auto; 
  right:50px; 
  text-align:center;
  z-index:1;
  padding:5px 0px;
  background: rgba(100,100,100,0.3);
  border-radius:20px;
  border:2px solid black;
}
@media only screen and (max-width:736px) {
    .notyf {
        width: 90%;
        margin: 0 auto;
        display: block;
        right: 0;
        left: 0
    }
}

.notyf {
  direction: rtl;
}

@media (max-width: 800px) {
  body {
    padding:0px;
  }

  input {
  	width: 90%;
    font-size: 20px;
  }
}

